<h1><%= @season.name %></h1>
<ul>
    <% @season.fixtures.order(:number).each do |fixture| %>
        <li>
            <a href="/fixtures/<%= fixture.id %>">
            <p>
                <%= fixture.name %>
            </p>
        </li>
    <% end %>
</ul>
