<h1><%= @fixture.name %></h1>
<ul>
    <% @fixture.matches.order(:kickoff_at).each do |match| %>
        <li>
            <a href="/matches/<%= match.id %>">
            <p>
                <%= match.home_team.short_name %> v. <%= match.away_team.short_name %>
            </p>
        </li>
    <% end %>
</ul>
