<h1><%= I18n.t('activerecord.models.competition') %></h1>
<ul>
    <% @competitions.each do |competition| %>
        <li>
            <a href="/competitions/<%= competition.id %>">
            <p>
                <%= competition.name %>
            </p>
        </li>
    <% end %>
</ul>
