<h1><%= @competition.name %></h1>
<ul>
    <% @competition.fixtures.order(:order).each do |fixture| %>
        <li>
            <a href="/fixtures/<%= fixture.id %>">
            <p>
                <%= fixture.name %>
            </p>
        </li>
    <% end %>
</ul>
