<h1><%= I18n.t('application.name') %></h1>
<p><%= I18n.t('application.description') %></p>
<ul>
    <li>
        <a href='/competition_series'>
            <p>
                <%= I18n.t('activerecord.models.competition_series') %>
            </p>
        </a>
    </li>
</ul>
