<h1>FootballDataManager</h1>
<p>Manage and view data on football matches</p>
<ul>
    <li>
        <a href='/competitions'>
            <p>
                Competitions
            </p>
        </a>
    </li>
</ul>
